<div class="home-image" title="Mayme's Cafe and Catering"></div>
<div class="backdrop"></div>

<div class="logo">
	<%= image_tag "/mayme_red_2.png" %>
	<div class="sub">
		<p>647 ROUTE 93, CONYNGHAM PA 18219</p>
		<p>(570)359-FOOD[3663]</p>
	</div>
</div>	

<div class="admin">
	<%= link_to 'ADMIN', login_path %>
</div>