<div class="construction">
	<h1>Mayme's Cafe</h1>
	<h3>Site is currently under construction.  Please come back to view our menu and daily specials!</h3>
	<h3>In the meantime, please visit us on 
		<%= link_to "Facebook", "https://www.facebook.com/maymescafe/" %>
	</h3>
</div>