<div class="center">
	<div class="mayme-logo">
		<%= image_tag '/maymelogo.png' %>
	</div>
	<div class="about">
		<h1>MEET MAYME</h1>

		<p>Mary "Mayme" Fadule was born in SOMEWHERE, PA in 1900ish.  She and her husband James Fadule had 5 children, Jeannette, Joseph, James, Anne Marie, and John.</p>

		<p>Mayme passed on her knowledge of Lebanese and Lithuanian cooking through the generations.  Many of her dishes remain family favorites to this day.  Stuffed grape leaves, bread pudding, chicken cacciatore, and clam sauce</p>
		
	</div>
</div>