/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice{
	position: fixed;
	width: 100%;
	top: 30px;
	text-align: center;
	font-size: 20pt;
	font-family: 'Lato';
	color: green;
}

.alert{
	position: fixed;
	width: 100%;
	top: 30px;
	text-align: center;
	font-size: 20pt;
	font-family: 'Lato';
	color: red;
}

.nav {
	position: fixed;
	top: 25px;
	left: 20px;
	font-family: 'Lato';
	font-size: 16pt;
}

.nav li{
	list-style: none;
	margin: 10px;
}

.nav a{
	text-decoration: none;
	color: black;
}

.nav a:hover{
	color: blue;
}

.session{
	font-family: 'Lato';
	font-size: 16pt;
	position: fixed;
	right: 20px;
	top: 20px;
}

.session li{
	list-style: none;
	margin: 10px;
}

.session a{
	text-decoration: none;
	color: black;
}

.session a:hover{
	color: blue;
}

.center{
	font-family: 'Lato';
	text-align: center;
	padding-top: 100px;
}
