// Place all the styles related to the dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ## MENU ##

.menu-backdrop{
	margin: 0;
	width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-image: url('/mayme_inside.jpg');
    background-size: cover;
}
	
.menu-page{

	.menu{
		width: 400px;
		margin: 0 auto;
		padding: 8%;
		font-family: 'Lato', sans-serif;
		background: rgba(255,255,255,0.8);
		border-radius: 15px;

		h1{
			text-align: center;
			font-family: 'Caudex';
		}

		.menu-section{

			h2{
				text-align: center;
				font-family: 'Caudex';
				margin-top: 50px;
			}

			.item{
				width: 400px;
				position: relative;

				h3{
					display: inline-block;
					width: 300px;
					margin: 0;
				}

				h4{
					width: 90px;
					margin: 0;
					text-align: right;
					display: inline-block;
				}

				p{
					margin-top: 5px;
				}

				.activation{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: red;
				}

				.activation-b{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: red;
				}

				.deactivation{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: green;
				}

				.deactivation-b{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: green;
				}
			}
		}

		.soup{
			h3{
				font-size: 17pt;
			}

			.item{
				margin-bottom: 10px;

				h3{
					font-size: 14pt;
				}
			}
		}

		.salad{
			.dressing{
				text-align: center;
			}
		}

		.dessert{
			p{
				text-align: center;
				margin-bottom: 50px;
			}
		}

		.sides{
			.item{
				margin-bottom: 0;
			}
		}

		.kids{
			.item{
				margin-bottom: 10px;
			}
		}

		.pricing{
			margin-top: 50px;
			text-align: center;
			font-size: 10pt;
		}
	}
}

// ## CATERING MENU ##

.cater-menu-backdrop{
	margin: 0;
	width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-image: url('/mayme_inside.jpg');
    background-size: cover;
}

.cater-menu-page{

	.menu{
		width: 400px;
		margin: 0 auto;
		padding: 8%;
		font-family: 'Lato', sans-serif;
		background: rgba(255,255,255,0.8);
		border-radius: 15px;

		h1{
			text-align: center;
			font-family: 'Caudex';
		}

		.menu-section{

			h2{
				text-align: center;
				font-family: 'Caudex';
				margin-top: 50px;
			}

			.item{
				width: 400px;
				position: relative;

				.activation{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: red;
				}

				.activation-b{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: red;
				}

				.deactivation{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: green;
				}

				.deactivation-b{
					display: inline-block;
					position: absolute;
					left: -40px;
					top: 0;
					text-align: center;
					text-decoration: none;
					font-size: 15pt;
					color: green;
				}

				.box-left{
					display: inline-block;
					width: 270px;
					float: left;

					h3{
						display: inline-block;
						margin: 0;
					}

					p{
						margin-top: 5px;
					}
				}

				.box-right{
					display: inline-block;
					width: 125px;
					float: right;

					h4{
						margin-top: 0;
					}
				}

				h3{
					display: inline-block;
					width: 270px;
					margin: 0;
				}

				h4{
					width: 125px;
					margin: 0;
					text-align: right;
					display: inline-block;
				}

				p{
					margin-top: 5px;
				}

			}

			.clear{
				clear: both;
			}
		}

		.sizes{
			h3{
				text-align: center;
				margin-bottom: 50px;
			}

			p{
				margin-bottom: 50px;
			}

			.disclaimer{
				margin-top: 50px;
				text-align: center;
			}
		}

		.salad{
			.dressing{
				text-align: center;
			}

			.item{
				height: 80px;
			}
		}

		.tray{
			text-align: center;
		}

		.meats{
			.item{
				height: 100px;
			}
		}

		.chicken{
			.chicken-tray{
				p{
					text-align: center;
				}
			}
		}

		.pasta{
			.item{
				height: 115px;
			}
		}

		.sides{
			.item{
				margin-bottom: 0;
			}
		}

		.pricing{
			margin-top: 50px;
			text-align: center;
			font-size: 10pt;
		}
	}
}

// ## MANAGE ##

.switch{
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;

	.restaurant{
		width: 194px;
		display: inline-block;
		font-family: 'Lato';
		font-size: 20pt;
		text-align: center;

			a{
				text-decoration: none;
			}
	}

	.catering{
		width: 194px;
		display: inline-block;
		font-family: 'Lato';
		font-size: 20pt;
		text-align: center;

			a{
				text-decoration: none;
			}
	}
}

// ## NEW ##

.new-form{
	margin-top: 25px;

	.form-section{
		margin: 5px 0;

		label{
			font-size: 18pt;
			padding-bottom: 10px;
		}
		
		input{
			width: 400px;
			height: 30px;
			font-family: 'Lato';
			font-size: 16px;
			text-align: center;
		}

		textarea{
			width: 400px;
			height: 100px;
			font-family: 'Lato';
			font-size: 14pt;
		}

		.price{
			width: 150px;
		}

		.submit{
			width: 100px;
		}
	}

	.pricing{
		text-align: left;
		height: 50px;

		input{
			float: right;
		}
	}
}

