// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	margin: 0;
}

.home-image{
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	background-image: url('/sandwich.jpeg');
	background-size: cover;
	opacity: 0.7;
}

.backdrop{
	position: fixed;
	z-index: -2;
	width: 100vw;
	height: 100vh;	
	background: black;
}

.logo{
	width: 100vw;
	text-align: center;
	padding-top: 75px;
	font-family: 'Caudex', serif;
	color: white;
	
	.sub{
		text-align: center;
		width: 325px;
		margin: 0 auto;

		h1{
			font-size: 26pt;
			margin: 0;
		}

		h2{
			font-size: 22pt;
			margin: 0;
		}

		p{
			font-family: 'Lato', sans-serif;
		}
	}
}

.admin{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-family: 'Lato';
	font-size: 16pt;

	a{
		visibility: hidden;
		text-decoration: none;
	}
}

.admin:hover{
	a{
		visibility: visible;
		color: white;
	}
}

// ##MAYME##

.about{
	margin: 0 auto;
	width: 400px;

	h1{
		font-family: 'Caudex', serif;
	}

	p{
		font-size: 16pt;
		font-family: 'Lato', sans-serif;
	}
}

// ## CONTACT ##

.contact-backdrop{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-image: url('/tomato_garlic.jpeg');
	background-size: cover;
	z-index: -1;
	margin: 0;
}

.container{
	margin-left: 300px;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 100px;

	.contact-body{
		background: rgba(255,255,255,0.6);
		padding: 5%;

		h1{
			margin: 25px;
			font-family: 'Caudex';
		}

		.contact-specs{
			font-family: 'Lato';
			display: inline-block;
			float: left;
			margin: 25px;

			a{
				color: #2268D3;
			}
		}

		.contact-form{
			font-family: 'Lato';
			display: inline-block;
			float: left;
			margin: 25px;

			.contact-info{
				input{
					height: 40px;
					width: 300px;
					text-align: center;
					font-family: 'Lato';
					font-size: 16pt;
				}

				select{
					height: 30px;
					width: 200px;
					font-size: 20pt;
				}

				textarea{
					font-family: 'Lato';
					font-size: 16pt;
				}

				button{
					width: 100px;
					text-align: center;
					font-family: 'Lato';
					font-size: 15pt;
					border: 1px solid lightgray;
					border-radius: 5px;
					background: #2268D3;
					color: white;
				}
			}
		}

		.clear{
			clear: both;
		}
	}
}

